  <header class="header">
    <p>Social Post Crawler</p>
  </header>
  <main class="main">

    <!--<div ng-style="vm.loading">
      <h2>Loading, please wait</h2>
      <div ng-style="vm.loadingBarOuter"><p ng-style="vm.percentLoadedStyle">{{vm.percentLoaded}}%</p><div ng-style="vm.loadingBarInner"></div></div>
      <button type="button" ng-style="vm.loadingButton" ng-click="vm.getResultsNow()">See results now</button>
    </div>-->
    
    <sidebar class="sidebar"></sidebar>

    <textarea class="input" rows="20" cols="33" ng-model="vm.input" placeholder="Enter Input Here"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" wrap="off"></textarea>
    
    <output class="output"></output>
     
    <sidenav></sidenav>

  </main>
