/**************MAIN STYLES**********/
textarea, input, button { outline: none; }

.header{
  font-family: Arial, Helvetica, sans-serif;
  height: 15px;
  width: 100vw;
  background: #222;
  color: #999;
  font-size: 10px;
  text-align: center;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: calc(100vh - 15px);
}

.main-left {
  height: calc(100vh - 15px);
  min-width: 155px;
  max-width: 155px;
  background-color: #4d4d4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2px;

  button {
    min-width: 150px;
    max-width: 150px;
    height: 30px;
    background-color: #636363;
    border: none;
    margin: 2px;
    color: white;
  }
  button:hover{
    background-color: #555;
  }
  .export-button {
    min-width: 150px;
    max-width: 150px;
    height: 30px;
    align-self: flex-end;
    position: absolute;
    bottom: 2px;;
    left: 0;
    background-color: #f82f2f;
  }
  .export-button:hover{
    background-color: #f81525;
  }
}

.input { 
  min-width: 200px;
  max-width: 200px;
}

.output {
  height: calc(100vh - 15px);
  width: 75vw;
  .table-header {
    color:#333;
    line-height: 20px;
    font-size: 15px;;
    font-weight: bold;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }
  .table {
    color:#333;
    font-size: 12px;
    border: none;
    height: calc((91vh - 15px) / 3);
    width: calc(100vh - 350px);
  }
}
